* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.navbar {
	background-color: #7291;
	padding: 16px;
}

.navbar ul {
	display: flex;
	align-items: center;
}

.navbar ul li {
	list-style: none;
	margin-left: 17px; 
}

.navbar ul li a {
	text-decoration: none;
	color: #542;
}

#services {
    background-color: white;
}

.service-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.service-item h3 {
    color: #007bff;
}

.a-killer{
	text-decoration: none;
	color: #732;
}

.footer {
	position: absolute;
	right: 0;
	background-color: #888;
	padding: 13px;
	width: 100%;
}

.footer p {
	color: #222;
	font-family: sans-serif;
	text-align: center;
}

.footer .footer-links {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: right;
}

.footer .footer-links li {
	margin-top: 15px;
	list-style: none;
	color: #666;
	font-size: 12px;
	/*font-weight: 700;*/
}


.footer .footer-links li:hover {
	color: #444;
	font-size: 13px;
	font-weight: 700;
	cursor: pointer;
}


.footer .footer-links li a {
	text-decoration: none;
	color: #542;
}

.right-messeges {
	display: block;
	max-width: 140px;
	margin-left: 1100px; 
	color: black;
	background-color: #6237;
	padding: 14px;
	text-align: center;
	justify-content: center;
	font-style: bold;
	border-radius: 13px;
	margin-top: 30px;
	font-size: 16px;
	font-weight: 700;
}

.left-messeges {
	display: block;
	float: left;
	max-width: 140px;
	margin-left: 25px;
	color: black;
	background-color: #3412;
	padding: 14px;
	font-style: bold;
	border-radius: 13px;
	margin-top: 12px
	font-size: 16px;
	font-weight: 700
}

.messeges {
	margin: 15px;
	border-radius: 8px;
	border: 1px solid #123414;
	padding: 25px;
	background-color: #123
}

.content {
	margin: 25px;
}
